# from my.telegram.org/apps
API_ID=31292063
API_HASH=61d2dccaf032fca4e1589a865bf22ec7

# from @BotFather on telegram
BOT_TOKEN=7990321687:AAG-fUjb_zldyUiy0NI8c5t12xugCf8L3HA
LOGGER_ID=-1004467236470

# mongo url from cloud.mongodb.com
MONGO_URL=mongodb://mongo:JlmOznFHyepoXzFnHfWhKgoGFJpfKczl@acela.proxy.rlwy.net:32682/?authSource=admin

OWNER_ID=8670911625

# pyrogram session from @StringFatherBot on telegram
SESSION=BQJSoK4AfAvhGhNQIK3b54zneB7ak5RpcDeFk8isw0TyByJdXLD0GKj03aKQWByt8xPdAyFGzWerydsq7oOknnWm20hfIEdrKAO75fUcKbFXyBZhkoIlBEuOlBqyO5uwJlWOQpZ9ThKCdMZXhciHRillqOdFPImiOn9gbjjOy8FKgF2RNRSVu33P3lMzKPVqaOmAtADBPWRokpxwOAy6rPIP3x6r5Q33lK9ZYPiqmII0ypuVR1M8AxayjmBDqRX7Df_I5ZDz7xQVAVaW5IBZHlMr7ZiZuddEkLjBwYEg7xOX4ALqWrblM0uSAkHLd2j_1uvnC30-kYigeHCIYsmn3dpMhERVDgAAAAHgFfSmAA
